<ion-view view-title="About">

    <ion-content class="has-header">
        <div class="card item-text-wrap">
            <div class="item item-divider">
                Eesa Abid
            </div>
            <div class="item">
                <center><img src="img/me.jpg" class="me"></center>
                <p>I am student of software engineering and have keen interest in web applications development. I am a fresh developer and a programmer. Finding new ways of web & software development is very exciting for me. I am always eager towards learning new stuff in the field of computer science & software engineering. This application originally built using Cordova & Ionic. It takes feed from one of my follwoing blog<br> http://www.refresh-imaan.blogspot.com <br> I hope you liked it. :)</p>
                <div class="item item-divider">
                    Contact Info
                </div>
                <div class="item">
                    <p>Email: essaji44[at]gmail.com</p>
                    <p>Cell#: +92-345-5791810</p>
                    <button id="txtBtn" class="button button-block button-positive" ng-click="showSmsPopup()">Text Me</button>
                </div>
            </div>
        </div>
    </ion-content>
    
</ion-view>